html {
    font-size: 16px;    
}

.column {
    padding: 1.5rem;
    border: 1px solid #e3e3e3;
    margin: auto;
    margin-top: 10rem;
}

.profile {
    margin: 100px auto;
}

.form-control {
    width: 90%;
}

.add-todo {
    margin: auto;
}

.card-body {
    padding: 0.50rem;
}

.todo-title {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.todo-title-p {
    text-decoration: line-through;
}